<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pokedex</title>

    <link rel="icon" type="image/png" href="images/icon.png" />

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script async src="js/axios/axios.min.js"></script>

</head>

<body>

    <div id="content">
        <!-- NAVBAR -->
        <nav id="border1" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container-fluid">

                <a href="/" class="navbar-brand"><img src="/images/logo-1.png"></a>

                <ul id="border2" class="nav navbar-nav ml-auto">
                </ul>
            </div>
        </nav>
        <!-- /NAVBAR -->

        <!-- CONTENT -->
        <br>
        <br>
        <br>
        <br>
        <form id="formLogin" action="javascript:signIn()" method="post">

                <h1>Preencha os campos abaixo para logar.</h1>
    
                <div class="contentform">
                    <div class="center">
                        <div class="form-group">
                            <p>Email<span>*</span></p>
                            <span class="icon-case"><i class="fa fa-user center-icon"></i></span>
                            <input type="email" id="userEmail" name="userEmail" value="" maxlength="127" required>
                        </div>
                        <div class="form-group">
                            <p>Senha<span>*</span></p>
                            <span class="icon-case"><i class="fa fa-key center-icon"></i></span>
                            <input type="password" id="userPassword" name="userPassword" maxlength="32" required>
                        </div>
                        <div class="form-group">
                            <p>Token<span>*</span></p>
                            <span class="icon-case"><i class="fa fa-mobile center-icon"></i></span>
                            <input type="text" id="token" name="token" maxlength="6" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-contact">Entrar</button>
        </form>
        <!-- /CONTENT -->
    
<%include ../common/footer.ejs%>

<script>
/*============================================================================*/
    /**
     * =======================================================
     * |Função responsável por recuperar os dados do usuário,|
     * |fazer uma pré validação e enviar para o servidor     |
     * |realizar a autenticação.                             |
     * =======================================================
     */
    function signIn() {
        /*Atribuição dos dados do usuário.*/
        const user = {
            userEmail: document.getElementById("userEmail").value,
            userPassword: document.getElementById("userPassword").value,
            token: document.getElementById("token").value,
        }

        /*Chamada da função que torna o objeto user imutável.*/
        Object.freeze(user);
        
        /*Verificação do email do usuário.*/
        if(user.userEmail === undefined || user.userEmail === null || user.userEmail === "" || user.userEmail.length > 127) {
            return alert("Email incorreto!");
        }

        /*Verificação da senha do usuário.*/
        if(user.userEmail === undefined || user.userEmail === null || user.userEmail === "" || user.userPassword.length < 8 || user.userPassword.length > 32) {
            return alert("Senha incorreta!");
        }

        /*Verificação da senha do usuário.*/
        if(user.token === undefined || user.token === null || user.token === "" || user.token === "" || user.token.length != 6) {
            return alert("Token incorreto!");
        }

        else {
            axios.post("/signIn", user)
            .then((response) => {
                /*Tratamento do retorno.*/
                if (response.status === 200 && response.data.status == "success") {
                    /*Redirecionamento para home do sistema.*/
                    window.location.href = "/"
                }
            })
            .catch((error) => {
                /*Atribuição da mensagem de retorno do servidor.*/
                const errorMsg = error.response.data.msg;

                let msg = "";

                /*Verificação se foi enviada mais de uma mensagem.*/
                if(Array.isArray(errorMsg)) {
                    /*Loop responsável por concatenar todas as mensagens enviadas.*/
                    for (const i in errorMsg) {
                        msg += errorMsg[i].msg + "\n";
                    }
                } else {
                    msg = errorMsg
                }
                /*Alertar o usuario, caso tenha ocorrido algum erro no servidor*/
                alert(errorMsg);
            });
        }
    }
/*============================================================================*/
</script>

</html>