<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pokedex</title>

    <link rel="icon" type="image/png" href="images/icon.png" />

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/home.css">

    <script async src="js/axios/axios.min.js"></script>
    <script async src="js/common/sideBar.js"></script>

</head>

<body>

    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <div id="sidebar-title" class="sidebar-header">
            </div>

            <ul id="sidebar-menu" class="list-unstyled components">
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <!-- NAVBAR -->
            <nav id="border1" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn">
                        <i class="fas fa-bars" id="navtoggle"></i>
                    </button>

                    <a href="/" class="navbar-brand"><img src="/images/logo-1.png"></a>

                    <ul id="border2" class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/signOut" id="logout" class="btn btn-warning text-white" >Sign Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /NAVBAR -->