<%include ../common/header.ejs%>

<!-- CONTENT -->
<header class="masthead">
    <div class="container d-flex align-items-center">
        <div class="mx-auto text-center">
            <br>
            <br>
            <br>
            <br>
            <img src="/images/pokedex.gif" alt="pokedex" style="width: 100%;">
        </div>
    </div>
</header>
<!-- /CONTENT -->

<%include ../common/footer.ejs%>

<script>
/*============================================================================*/
    /**
     * =======================================================
     * |Função responsável executar todas as rotinas iniciais|
     * |da página assim que ela é carregada.                 |
     * =======================================================
     */
    window.onload = () => {
        /*Chamada da função que adiciona o titulo da side bar.*/
        setSideBarTitle("Pokedex", "fa-globe")
    };
    $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });
/*============================================================================*/
</script>

</html>